html{
    font-family: "Segoe UI","微軟正黑體",sans-serif;
    font-size: 16px;
	color:#707070;
    
    
}
header{
    margin: 0;
    padding-top: 0;
    background-color:white;
    box-shadow: 0px 2px 5px #00000029;
    padding-left:7%;
	padding-right:7%;
    
    /*置頂*/
    position:fixed;
    top: 0;
    width:100%;
    z-index:9999;

}
body{
    margin: 0;
}

.navigation{
    height:112px;
    
}
.nav-container{
    margin: 0;
    padding-top: 0;
    width: 100%;
    height: 100%;
    background-color:white;

    /*讓裡面所有東西都垂直置中*/
    display: flex;
    align-items: center;
}
#logo-img{
    width:130px;
	height: auto;

    /*對齊於<a>之中*/
    display: block;
    text-align: center;
}
/*navigation link text*/
.nav-container .link{
	display:inline-block;
	vertical-align:top;
    margin-left: 3.3%;
	font-weight:bold;
	color:#707070;
	text-decoration:none;
    background-color:white;
    font-size: 16px;
}
#navigation-mobile{
    width: auto;
    display:none;
    /*置頂*/
    position:fixed;
    top: 50px;
    width:100%;
    z-index:9999;
}

#join{
	/*對齊右邊*/
    margin-left: auto;
    display: inline-block;

}
#pumpkin{
	max-width:34px;
	height: auto;
	display:inline-block;
	vertical-align:middle;
	
}
#form-join-title{
    display:inline-block;
	vertical-align:middle;
    color: #689F38;
    font-size: 22px;
    font-weight:bold;

}
#form-join-top{
    text-align: left;
    padding-left: 15px;
    height: 36px;
}
#form-left{
    text-align: left;
    padding-left: 15px;
    padding-right: 10px;
}
#btn-join{
	display:inline-block;
	vertical-align:top;
	
	width: 115px;
	height: 30px;
	border: 2px solid #689F38;
	border-radius: 4px;
    background-color: white;

	/*text*/
	color: #689F38;
	font-weight:bold;
	text-align:center;
    padding-top: 3px;
    font-size: 16px;
}
#anchor2,#anchor3{
    margin-top: -112px;
    padding-top: 112px;
}
#anchor2{
    height: auto;
}
#anchor4{
    grid-row-start: 2;/*欄位從第二條橫線開始*/
    grid-row-end: 3;/*欄位從第三條橫線結束*/
}


/* Hide the link that should open and close the topnav on small screens */
.nav-container .icon {
    display: none;
}


.sec{
    margin: 0;
    padding: 0;
    height: auto;
}
.article-content{
	line-height: 2;
	color: #707070;
	font-size: 16px;
}
.emphasize{
	color: #404040;
	font-size: 16px;
	
}
.article-title{
	padding-top:20px;
	
	font-size: 22px;
	color: #404040;
	margin-bottom:15px;

}

.content-padding{
    margin: 0;
    padding-left:7%;
	padding-right:7%;
    
    
}
#top-content{
    margin-top: 130px;
   
}


.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.imgs4{
	display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    
    width:100%;
    height:95%;

    padding-top: 45px;
}
.img-1{
	grid-column: 1;
  grid-row: 1;

  

}
.img-2{
	grid-column: 2;
  grid-row: 1;

}
.img-3{
	grid-column: 2;
  grid-row: 2;

}
.img-4{
	grid-column: 1;
  grid-row: 2;

}



/*table*/
table{
	display: table;
	width: 100%;
	border-collapse:separate; 
	border-spacing:10px 8px;
	border:1px #FFFFFF solid;
	color:#707070;

}


th{
	font-size: 22px;
	font-weight:normal;
}
td{
	height: 48px;
	text-align: center;
}
thead{
	display: table;
	width:100%;
	table-layout: fixed;
	margin-bottom:-8px;
	margin-top:-10px;
}
tbody{
	display: table;
	width:100%;
	table-layout: fixed;
    
    padding:0px;
	margin-top:-8px;
    
}
tbody tr{
    font-size: 16px;
	box-shadow: 0px 3px 6px #00000029;
	background: #FFFFFF 0% 0% no-repeat padding-box;
}
.tablebody-box{
	padding:0px;
	width:100%;
	table-layout: fixed;
    border: 2px solid #689F38;
	overflow-y: scroll;
	height: 240px;
	margin-bottom:15px;
	
}
/*chrome 和Safari*/
.tablebody-box::-webkit-scrollbar { width: 0 !important }
/*IE 10+*/
.tablebody-box { -ms-overflow-style: none; }
/*Firefox*/
.tablebody-box { overflow: -moz-scrollbars-none; }


#duck{
	
	background-image:url(assets/img/3239367.svg);
	background-repeat:round;
	background-size: contain;
	width:auto;
	height:40px;
	background-position:center bottom;
	margin-top:-40px;
	
	
}
#duck-img{
	z-index:1;
	background-image:url(assets/img/3239270.svg);
	height:57px;
	background-size: contain;
	background-repeat:no-repeat;
	background-position:right bottom;
	margin-right:-3px;
	

}
#duckbox{
	margin-top: 10px;
	width:100%;
	height:60px;
}


section{
	
	margin-top:20px;
	margin-bottom:20px;
	
	
	padding-left:7%;
	padding-right:7%;
	padding-bottom:10px;
	padding-top:10px;
	
}
#about{
	padding-bottom:30px;
	padding-top:30px;
	background-color: #689F38;
	display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 3%;
  
  
}
#about-img{
	grid-column: 1 / 5;
	grid-row: 1;
    display: flex;
    align-items: center;
    

  
}
#abimg{
	max-width:90%;
    
}

#about-text{
	grid-column: 5/11;
	grid-row: 1;
	
  
}

#contact{
    margin-top: 30px;
    background-color: #404040;
	text-align:center;
	margin-bottom:0px;

}


#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 2.2%; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 0px; /* Some padding */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }


.btn-top{
    background-color: #555;
    opacity:0.5;
    width:30px;
    height:30px; 
	border-radius:999em;
}
/* When the screen is less than 870 pixels wide, hide all links, 
Show the link that contains should open and close the icon */
@media screen and (max-width: 870px){
    .navigation{
        height:50px;
    }
    #logo-img{
        width:110px;
        height: auto;
    }
    .nav-container .link {display: none;}

    #top-content{
        margin-top: 68px;
        
    }
    

    /*Menu Icon*/
    .nav-container .icon {
        /*對齊右邊*/
        margin-left: auto;
        display: inline-block;
        
        /*hamburger button*/
        background: #a7a7a7; 
        border-radius: 5px;
        padding: .4em;
        cursor: pointer;
    }
    .bar1, .bar2, .bar3 {
        width: 22px;
        height: 2px;
        background-color:white;
        margin: 4px 0;
        transition: 0.4s;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-4px, 4px);
        transform: rotate(-45deg) translate(-4px, 4px);
    }
      
    .change .bar2 {opacity: 0;}
      
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-4px, -4px);
        transform: rotate(45deg) translate(-4px, -4px);
    }


    
    #navigation-mobile .link{
        display:block;
        width: 100%;
        height: 50px;
        font-weight:bold;
        color:#707070;
        text-decoration:none;
        background-color:white;
        text-align: center;
        border-bottom: 1px solid #00000029;
        line-height: 50px;
    }
    #navigation-mobile .link:nth-child(5){
        border-bottom: 0;
        box-shadow: 0px 2px 5px #00000029;
        margin-bottom: 20px;
    }


    #join{
        /*對齊右邊*/
        z-index:9999;
	    position:fixed;
        right: 2%;
        bottom: 60px;
    
    }
    #pumpkin{
        display: block;
        text-align: center;
        max-width:34px;
        height: auto;    
    }
    #btn-join{
        display: block;
        text-align: center;
        width: 24px;
        height: 80px;
        border: 2px solid #689F38;
        border-radius: 4px;
        background-color: white;
        margin-left: 0.3rem;
    
        /*text*/
        color: #689F38;
        font-weight:bold;
        text-align:center;
        font-size: 12px;
        -webkit-writing-mode: vertical-lr;
        writing-mode: vertical-lr ;
    }
    .imgs4{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
        
        width:100%;
        height:100%;
        padding-top: 0px;
    }
    #about{
        
        background-color: #689F38;
        display: grid;
        grid-template-rows: 200px 1fr;
        grid-template-columns: repeat(1, 1fr);
      
      
    }
    #about-img{
        grid-column: 1;
        grid-row: 1;
        text-align : center;
        
    
      
    }
    #abimg{
        height: 100%;
        width: auto;
        display:block; margin:auto;
        
    }
    #about-text{
        grid-column: 1;
        grid-row: 2;
        
      
    }
    #anchor2,#anchor3,#anchor4{
        margin-top: -50px;
        padding-top: 50px;
    }
    th{
        font-size: 12px;
        font-weight:normal;
    }
    tbody tr{
        font-size: 10px;
        box-shadow: 0px 3px 6px #00000029;
        background: #FFFFFF 0% 0% no-repeat padding-box;
    }
    table{
        display: table;
        width: 100%;
        border-collapse:separate; 
        border-spacing:10px 8px;
        border:1px #FFFFFF solid;
        color:#707070;
    
    }
    .tablebody-box{
        padding:0px;
        width:100%;
        table-layout: fixed;
        border: 2px solid #689F38;
        overflow-y: scroll;
        height: 200px;
        margin-bottom:15px;
        
    }
    td{
        height: 40px;
        text-align: center;
    }
}

/*相簿*/
@media screen and (min-width:768px) and (max-width:870px){
    .imgs4{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 140px 140px 140px 140px;
        grid-gap: 10px;
        
        
        padding-top: 16px;
    }
    .img-1{
        grid-column: 1;
      grid-row: 1;
    
      
    
    }
    .img-2{
        grid-column: 1;
      grid-row: 2;
    
    }
    .img-3{
        grid-column: 1;
      grid-row: 3;
    
    }
    .img-4{
        grid-column: 1;
      grid-row: 4;
    
    }
}

/*文字*/
@media screen and (min-width: 1500px){
    
    .article-content{
        line-height: 2;
        color: #707070;
        font-size: 32px;
    }
    .emphasize{
        color: #404040;
        font-size: 32px;
        
    }
    .article-title{
        padding-top:60px;
        
        font-size: 40px;
        color: #404040;
        margin-bottom:15px;
    
    }
    .imgs4{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 10px;
        
        width:100%;
        height:100%;
        padding-top: 50px;
    }

    th{
        font-size: 40px;
        font-weight:normal;
    }
    tbody tr{
        font-size: 32px;
        box-shadow: 0px 3px 6px #00000029;
        background: #FFFFFF 0% 0% no-repeat padding-box;
    }
    table{
        display: table;
        width: 100%;
        border-collapse:separate; 
        border-spacing:20px 18px;
        border:1px #FFFFFF solid;
        color:#707070;
    
    }
    .tablebody-box{
        padding:0px;
        width:100%;
        table-layout: fixed;
        border: 2px solid #689F38;
        overflow-y: scroll;
        height: 420px;
        margin-bottom:15px;
        
    }
    td{
        height: 80px;
        text-align: center;
    }
    
}
@media screen and (max-width: 870px){
    #contact{
        margin-top: 30px;
        background-color: #404040;
        text-align:center;
        margin-bottom:0px;
        padding-left: 0;
    
    }
}


/*form*/
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 35%;
    min-width: 150px;
    padding: 12px 20px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #707070;
    border-radius: 2px;
  }
  
  /* Set a style for all buttons */
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background: #689F38;
    border: 3px solid #4164223D;
    border-radius: 2px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 200px;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    
    text-align: center;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 30px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    box-shadow: 0px 3px 10px #000000A6;
    border: 1px solid #707070;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 70%; /* Could be more or less, depending on screen size */
    padding: 5px;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

#form-pumpkin{
    display: inline-block;
    vertical-align: sub;
    max-width:30px;
    height: auto;    
}
.check-box{
    display: inline-block;
    margin-right: 20px;
}
.QA-content{
    padding-left:7%;
	padding-right:7%;
    margin-top: 112px;
}
.QA-wrapper{
    margin: 0;
  min-height: calc(100% - 16px);
  display: grid; /*使用grid排版*/
  grid-template-rows: 1fr auto; /*將上半部設置為一個單位，剩下的部分設為自動高度*/

}

.accordion {

    color: #404040;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    background: none;
  
  }
  
  
  
  .panel {
    margin-top: -10px;
    text-align: left;
    padding: 18px;
    display: none;
  
    overflow: hidden;

  }
  .acc-wrapper{
  background: #FFFFFF;
  border: 1px solid #707070;
  border-radius: 7px;
  height: auto;
  margin-bottom: 16px;
  }